@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

@import "../components/molecules/Blog/telegram-web.css";
@import "../components/molecules/Blog/widget-frame.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #554;
}

::-webkit-scrollbar-thumb {
  background: #d2d3e4;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px #2223;
}

::-webkit-scrollbar-corner {
  background: #444;
}
